# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDE/editor
.vscode/
.idea/

# OS
.DS_Store

# Secrets (rename .env.example -> .env locally)
.env
